# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

**Objectives:**
* Python
* R
* SQL
* Java

1. Python
1. SQL
1. language

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
1. SciPy
1. Pandas

|Data Science Tools|
--------------------
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [20]:
 #This will convert 200 minutes to hours by diving by 60
Minutes = 200
Hours = Minutes / 60
print (Hours)

3.3333333333333335

## Author
Roston Gomes